body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Modal Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
}

.modal-content {
    background-color: #f9f9f9;
    max-width: 275px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 12px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styling */
form {
    margin-top: 10px;
}

label {
    display:flex;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: none ;
    border-bottom: 2px solid;
    background-color: transparent;
    font-weight: bold;
    
}

button {
    margin: 0 auto; /* Centrar el boton*/
    display: block; /* Convertir el botón en un elemento de bloque */
    width: 90%; /* Ancho completo del botón */
    padding: 15px; /* Espacio interno del botón */
    margin-top: 35px; /* Espacio superior del botón */
    border: none; /* Sin bordes alrededor del botón */
    border-radius: 15px; /* Borde redondeado del botón */
    background-color: #0065B3; /* Color de fondo del botón */
    color: #FFF; /* Color del texto del botón */
    font-weight: bold; /* Fuente en negrita del texto del botón */
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Hide the checkbox */
input[type=checkbox] {
    display: none;
}

/* Show the modal when the checkbox is checked */
input[type=checkbox]:checked + .modal {
    display: block;
}
.close {
    /* ... otros estilos ... */
    text-decoration: none; /* Para quitar la decoración de subrayado del enlace */
}

.close:hover,
.close:focus {
    color: red; /* Cambia el color cuando el enlace se encuentra en estado :hover o :focus */
}
.olvidada{
    margin: 0 auto;
    padding: 20px;
    
}




